.row {
	margin: 0;
	padding: 0;
}

.row > ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(var(--board-size), 1fr);
}

.size-9x9,
.size-13x13,
.size-19x19 {
	composes: row;
}

.size-9x9 {
	--board-size: 9;
}

.size-13x13 {
	--board-size: 13;
}

.size-19x19 {
	--board-size: 19;
}