:root {
	--board-color: #c58f63;
	--board-margin: 0.5rem;
	--scrollbar-foreground: #6e5f5f;
	--scrollbar-background: #333333;
}

.boardScroller {
	overflow: auto;
	width: 100%;
	height: auto;
	scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

.boardScroller::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.boardScroller::-webkit-scrollbar-thumb {
	background: var(--scrollbar-foreground);
	border-radius: 5px;
}

.boardScroller::-webkit-scrollbar-track {
	background: var(--scrollbar-background);
}

.board {
	position: relative;
	display: grid;
	grid-template-rows: repeat(var(--board-size), 1fr);
	width: 96vh;
	height: 96vh;
	max-height:calc(100vw - (var(--board-margin) * 2));
	max-width: calc(100vw - (var(--board-margin) * 2));
	min-width: calc(var(--board-size) * var(--min-tap-target) + (var(--board-margin) * 2));
	min-height: calc(var(--board-size) * var(--min-tap-target) + (var(--board-margin) * 2));
	margin: var(--board-margin) auto;
	padding: 0;
	background-color: var(--board-color);
	list-style-type: none;
	border-radius: 4px;
}

@media (min-width: 600px) {
	:root {
		--board-margin: 1.0rem;
	}
	.board {
		border-radius: 8px;
	}
}

@media (min-height: 650px) {
	.board {
		width: 80vh;
		height: 80vh;
	}
}

.size-9x9,
.size-13x13,
.size-19x19 {
	composes: board;
}

.size-9x9 {
	--board-size: 9;
}

.size-13x13 {
	--board-size: 13;
}

.size-19x19 {
	--board-size: 19;
}