:root {
  --main-bg-color-1: #462f2f;
  --main-bg-color-2: #292d31;
  --main-bg-color-3: #201610;
  --main-color: #FFFFFF;
  --palette-primary: #598392;
  --palette-secondary: #6D3B47;
  --palette-tertiary: #01161E;
  --min-tap-target: 44px;
}

/* Element defaults and typography. */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: radial-gradient(circle at 25% top, var(--main-bg-color-1), var(--main-bg-color-2), var(--main-bg-color-3));
  color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Some global utility classes. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
